<!DOCTYPE html>
<html>
<head>
  <title>StaticRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Contact Us", contact_path %>
  <%= link_to "Home", root_path %>
  <%= link_to "About Us", 'pages#aboutus' %>
</nav>
<%= yield %>

</body>
</html>
